<div class="container mt-5">
    <h4>Internal Server Error - refreshing the page will make the exception disappear</h4>
   <ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">If you are seeing this Angular is not responsible</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Chrome devtools</li>
        <li>inspect network tabs or check failing requests </li>
        <li>go through request URL and confirm its correct</li>
        <li>If postman also same errors then the issue is NOT WITH ANGULAR</li>
    </ol>
    <p>Following is stacktrace</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
   </ng-container>
    
</div>
